---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { css } from '../../../styled-system/css'
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection('blog')
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entry } = Astro.props
const { Content } = await entry.render()
import itika from '../../assets/itika.png'
---

<Layout
  title={entry.data.title}
  description={entry.data.title}
  thumbnail={`blog/${entry.slug}/ogp.png`}}
>
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <div
      class={css({
        maxWidth: '850px',
        width: '100%',
        px: '16px',
        pt: '16px',
        pb: '64px',
      })}
    >
      <h1 transition:name={entry.data.title}>
        <span class={css({ mr: '4px' })} transition:name={entry.data.emoji}
          >{entry.data.emoji}</span
        >
        {entry.data.title}
      </h1>
      <div
        class={css({
          mt: '-6px',
          mb: '48px',
          width: '100%',
          color: 'textSecond',
        })}
      >
        <div>
          {
            entry.data.tags.map(tag => (
              <span
                class={css({
                  display: 'inline-block',
                  px: '6px',
                  mr: '6px',
                  my: '4px',
                  borderRadius: '4px',
                  fontSize: '0.8rem',
                  border: '1px solid',
                })}
              >
                {tag}
              </span>
            ))
          }
        </div>
        <div class={css({ fontSize: '0.9rem', mt: '4px' })}>
          {entry.data.date}
        </div>
      </div>
      <Content />
    </div>
  </main>
</Layout>
