---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { css } from '../../../styled-system/css'
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection('blog')
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entry } = Astro.props
const { Content } = await entry.render()

const url = `https://trasta.dev/blog/${entry.slug}`
const xPostUrl = `https://x.com/share?url=${url}&text=${entry.data.title}`
---

<Layout
  title={entry.data.title}
  description={entry.data.title}
  thumbnail={`blog/${entry.slug}/ogp.png`}
  }
>
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <div
      class={css({
        maxWidth: '850px',
        width: '100%',
        px: '16px',
        pt: '16px',
        pb: '64px',
      })}
    >
      <h1 transition:name={entry.data.title}>
        <span class={css({ mr: '4px' })} transition:name={entry.data.emoji}
          >{entry.data.emoji}</span
        >
        {entry.data.title}
      </h1>
      <div
        class={css({
          mt: '-6px',
          mb: '48px',
          width: '100%',
          color: 'textSecond',
        })}
      >
        <div>
          {
            entry.data.tags.map(tag => (
              <span
                class={css({
                  display: 'inline-block',
                  px: '6px',
                  mr: '6px',
                  my: '4px',
                  borderRadius: '4px',
                  fontSize: '0.8rem',
                  border: '1px solid',
                })}
              >
                {tag}
              </span>
            ))
          }
        </div>
        <div class={css({ fontSize: '0.9rem', mt: '4px' })}>
          {entry.data.date}
        </div>
      </div>
      <Content />
      <div
        class={css({
          mt: '64px',
          pt: '24px',
          borderTop: '1px solid',
          borderColor: {
            base: '#d4d4d4',
            _dark: '#404040',
          },
        })}
      >
        <a
          href={xPostUrl}
          target="_blank"
          rel="nofollow noopener noreferrer"
          class={css({
            display: 'flex',
            color: 'textSecond',
            textDecoration: 'none',
            width: 'fit-content',
          })}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231l5.45-6.231Zm-1.161 17.52h1.833L7.045 4.126H5.078L17.044 19.77Z"
            ></path></svg
          >
          <span class={css({ ml: '4px' })}>Post</span>
        </a>
      </div>
    </div>
  </main>
</Layout>
