---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { css } from '../../../styled-system/css'
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection('blog')
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entry } = Astro.props
const { Content } = await entry.render()

const url = `https://trasta.dev/blog/${entry.slug}`
const xPostUrl = `https://x.com/intent/tweet?url=${url}&text=${entry.data.title}`
const githubUrl = `https://github.com/trasta298/trasta-dev/tree/main/src/content/blog/${entry.slug.replace(/\/+$/, '')}.mdx`
---

<Layout
  title={entry.data.title}
  description={entry.data.title}
  thumbnail={`blog/${entry.slug}/ogp.png`}
  }
>
  <main
    class={css({
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      height: '100%',
      width: '100%',
    })}
  >
    <div
      class={css({
        maxWidth: '850px',
        width: '100vw',
        px: '16px',
        pt: '16px',
        pb: '64px',
      })}
    >
      <h1 transition:name={entry.data.title}>
        <span 
          class={css({ mr: '4px' })}
          transition:name={`emoji-${entry.data.title}`}
        >
          {entry.data.emoji}
        </span>
        {entry.data.title}
      </h1>
      <div
        class={css({
          mt: '-6px',
          mb: '48px',
          width: '100%',
          color: 'textSecond',
        })}
      >
        <div>
          {
            entry.data.tags.map(tag => (
              <span
                class={css({
                  display: 'inline-block',
                  px: '6px',
                  mr: '6px',
                  my: '4px',
                  borderRadius: '4px',
                  fontSize: '0.8rem',
                  border: '1px solid',
                })}
              >
                {tag}
              </span>
            ))
          }
        </div>
        <div class={css({ fontSize: '0.9rem', mt: '4px' })}>
          {entry.data.date}
        </div>
      </div>
      <Content />
      <div
        class={css({
          mt: '64px',
          pt: '24px',
          borderTop: '1px solid',
          borderColor: {
            base: '#d4d4d4',
            _dark: '#404040',
          },
        })}
      >
        <a
          href={githubUrl}
          target="_blank"
          class={css({
            display: 'flex',
            color: 'textSecond',
            width: 'fit-content',
          })}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><rect x="0" y="0" width="24" height="24" fill="none" stroke="none"
            ></rect><path
              fill="currentColor"
              d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
            ></path></svg
          >
          <span class={css({ ml: '4px' })}>GitHubで修正を提案する</span>
        </a>
        <a
          href={xPostUrl}
          target="_blank"
          rel="nofollow noopener noreferrer"
          class={css({
            display: 'flex',
            color: 'textSecond',
            width: 'fit-content',
            mt: '8px',
          })}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231l5.45-6.231Zm-1.161 17.52h1.833L7.045 4.126H5.078L17.044 19.77Z"
            ></path></svg
          >
          <span class={css({ ml: '4px' })}>Post</span>
        </a>
      </div>
    </div>
  </main>
</Layout>
